<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929621933441-4u9oco2t1rq7e47qku3d52mvaoipv22u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929621933441-4u9oco2t1rq7e47qku3d52mvaoipv22u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>929621933441-1d99cmks6nsu67fbub7sb8aqc13o8uts.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOAEmYfO3qhzO5B_mwaUqu8a3zB_rpoRI</string>
	<key>GCM_SENDER_ID</key>
	<string>929621933441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.velocitybloom</string>
	<key>PROJECT_ID</key>
	<string>velocitybloom</string>
	<key>STORAGE_BUCKET</key>
	<string>velocitybloom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929621933441:ios:e505cb99b4198278113c80</string>
</dict>
</plist>